{{- partialCached "knowledge-graph/init.html" "knowledge-graph/init.html" -}}
{{- $g := site.Store.Get "knowledge-graph-config" -}}

{{- /* load resources unless it's explicitly set to false */ -}}
{{- /* site.Params is intended for upstream themes to merge config params for downstream users */ -}}
{{- if or (eq $g.autoInjectCSS false) (eq site.Params.hkg.autoInjectCSS false) -}}
{{- else -}}
	{{- partial "knowledge-graph/assets-css.html" (dict "page" . "full" true) -}}
{{- end -}}

{{- partial "knowledge-graph/full-skeleton.html" . -}}

{{- if or (eq $g.autoInjectJS false) (eq site.Params.hkg.autoInjectJS false) -}}
{{- else -}}
	{{- partial "knowledge-graph/assets-js.html" . -}}
{{- end -}}
