{{- if in (slice "section" "taxonomy" "term") .Kind -}}
	{{- warnf "knowledge-graph/widget.html is not supported in %s page" .Kind -}}
	{{- return -}}
{{- end -}}
{{- partialCached "knowledge-graph/init.html" "knowledge-graph/init.html" -}}
{{- $g := site.Store.Get "knowledge-graph-config" -}}
{{- if or (eq $g.autoInjectCSS false) (eq site.Params.hkg.autoInjectCSS false) -}}
{{- else -}}
	{{- partial "knowledge-graph/assets-css.html" (dict "page" . "widget" true) -}}
{{- end -}}

{{- partial "knowledge-graph/widget-skeleton.html" . -}}

{{- if or (eq $g.autoInjectJS false) (eq site.Params.hkg.autoInjectJS false) -}}
{{- else -}}
	{{- partial "knowledge-graph/assets-js.html" . -}}
{{- end -}}
